In [1]:
import yfinance as yf
import pandas as pd

In [2]:
df = yf.download("BTC-USD", period="60D", interval="5m")

[*********************100%***********************]  1 of 1 completed

In [3]:
df = df.drop("Volume", axis=1)
df = df.tz_localize(None)

In [4]:
df

,Open,High,Low,Close,Adj Close
Datetime,,,,,
2022-05-01 00:00:00,37704.460938,37715.718750,37704.460938,37715.718750,37715.718750
2022-05-01 00:05:00,37730.101562,37756.003906,37730.101562,37756.003906,37756.003906
2022-05-01 00:10:00,37767.484375,37767.484375,37739.855469,37739.855469,37739.855469
2022-05-01 00:15:00,37734.929688,37746.304688,37734.929688,37746.304688,37746.304688
2022-05-01 00:20:00,37737.562500,37737.562500,37714.457031,37714.457031,37714.457031
...,...,...,...,...,...
2022-06-29 17:40:00,19973.552734,19990.023438,19973.552734,19990.023438,19990.023438
2022-06-29 17:45:00,20000.640625,20013.345703,20000.640625,20013.345703,20013.345703
2022-06-29 17:50:00,20007.662109,20016.654297,20007.662109,20016.654297,20016.654297
2022-06-29 17:55:00,20027.154297,20031.142578,20027.154297,20031.142578,20031.142578
2022-06-29 18:00:00,20037.378906,20037.378906,20037.378906,20037.378906,20037.378906

In [5]:
df_6h = df.resample("6H", origin=df.index[-1]).last()
df_6h = (df_6h.iloc[-1,:].div(df_6h)-1).iloc[:-1,:] * 100

In [6]:
df_6h = df_6h.set_index(df_6h.index[-1] - df_6h.index)

In [7]:
time_deltas = [
    pd.Timedelta(days=30),
    pd.Timedelta(days=7),
    pd.Timedelta(days=3), 
    pd.Timedelta(hours=24), 
    pd.Timedelta(hours=12),    
    pd.Timedelta(hours=6),
]

intervals = [df.index[-1]-td for td in time_deltas]
intervals.append(df.index[-1])

In [8]:
custom_interval_returns = (df.iloc[-1,:]/df.groupby(pd.cut(df.index, bins=intervals)).first()-1) *100

In [9]:
custom_interval_returns.index = time_deltas

In [14]:
custom_interval_returns["Close"].apply(lambda x: f"{x:.2f}%")

30 days 00:00:00    -34.72%
7 days 00:00:00      -1.04%
3 days 00:00:00      -5.64%
1 days 00:00:00      -2.70%
0 days 12:00:00      -0.53%
0 days 06:00:00      -0.38%
Name: Close, dtype: object

In [11]:
intervals

[Timestamp('2022-05-30 18:00:00'),
 Timestamp('2022-06-22 18:00:00'),
 Timestamp('2022-06-26 18:00:00'),
 Timestamp('2022-06-28 18:00:00'),
 Timestamp('2022-06-29 06:00:00'),
 Timestamp('2022-06-29 12:00:00'),
 Timestamp('2022-06-29 18:00:00')]