In [1]:
import pandas as pd
import yfinance as yf

In [2]:
df = yf.download("AAPL", period="60D", interval="15m")

[*********************100%***********************]  1 of 1 completed

In [3]:
df = df.tz_localize(None)

In [18]:
df["growing"] = df["Open"].gt(df["Open"].shift())
df["streak_start"] = df["growing"].ne(df["growing"].shift())
df["streak_no"] = df["streak_start"].cumsum()
df["streak_count"] = df.groupby("streak_no").cumcount().add(1)

colour_map = growing_streaks.values 

df.iloc[:15,:].style.apply(lambda x: ["background: green" 
                          if colour_map[i] else "background:red" 
                          for i,v in enumerate(x)], 
            axis=0, subset=["Open"])

In [19]:
df.loc[:df.index[10], ["streak_start", "streak_no", "streak_count"]]

                     streak_start  streak_no  streak_count
Datetime
2021-09-21 09:30:00          True          1             1
2021-09-21 09:45:00         False          1             2
2021-09-21 10:00:00          True          2             1
2021-09-21 10:15:00          True          3             1
2021-09-21 10:30:00          True          4             1
2021-09-21 10:45:00          True          5             1
2021-09-21 11:00:00         False          5             2
2021-09-21 11:15:00          True          6             1
2021-09-21 11:30:00          True          7             1
2021-09-21 11:45:00          True          8             1
2021-09-21 12:00:00          True          9             1

In [21]:
max_streak_length = df.loc[df["streak_count"].idxmax(), "streak_count"]

In [31]:
df.loc[:df["streak_count"].idxmax(), ["Open", "streak_no", "streak_count"]]\
  .tail(max_streak_length).style.apply(lambda x: ["background:red" for v in x], axis=0, subset=["Open"])

In [70]:
df.reset_index().loc[:, ["Datetime", "Open","streak_no"]]\
  .groupby("streak_no")\
  .agg(
    start = pd.NamedAgg(column="Datetime", aggfunc="first"),
    end = pd.NamedAgg(column="Datetime", aggfunc="last"),
    growth = pd.NamedAgg(column="Open", aggfunc=(lambda x: (x.iloc[-1]-x.iloc[0])/x.iloc[0])),
    size = pd.NamedAgg(column="Open", aggfunc="size"),
).sort_values(by="size", ascending=False).iloc[:10,:].style.apply(lambda x: ["background:red" if v<0 else "background:green" for v in x], axis=0, subset=["growth"])